<div *ngFor = "let clothes of clothesList" class = "clothesClass">
    <div *ngIf = "selectedClothesId == clothes.id">
        <h2>{{clothes.name}}</h2>
        <h3>
            <div class="zoomBOut">
              <img [src]="clothes.imageLink" class = "clothesImage">
            </div>
            <p *ngIf = "clothes.description">
                Description: {{clothes.description}}
            </p>
            <p>
                Price: {{clothes.price}}
            </p>
            <button (click)= "onAddToCart(clothes)">Add to Cart</button>
        </h3>
    </div>
</div>
