<div id="contacts">
    <ul>
        <li><a href="https://lichi.com/links/redir-1/?utm_source=footer&utm_medium=site&utm_campaign=internal" target="_blank">Instagram</a></li>
        <li><a href="https://t.me/lichi_brand?utm_source=footer&utm_medium=site&utm_campaign=internal" target="_blank">Telegram</a></li>
        <li><a href="https://vk.com/lichi_brand?utm_source=footer&utm_medium=site&utm_campaign=internal" target="_blank">Vk</a></li>
        <li><a href="https://www.pinterest.com/lichi_brand/?utm_source=footer&utm_medium=site&utm_campaign=internal" target="_blank">Pinterest</a></li>
    </ul>
    <img src="https://lichi-a.akamaihd.net/hp/3/logotype_000000.png" width="4%">
    <p>
        © All rights reserved
    </p>
</div>