<div class="registration">
    <h2>
        Sign Up
    </h2>
    <h5>
        FILL OUT A SIMPLE REGISTRATION FORM AND BECOME A <br>MEMBER OF THE CLUB LICHI
    </h5>
    <div id="container">
        <p>Email Or Mobile Number</p>
        <input type="text" name="text" [(ngModel)]="username">
        <p>Password</p>
        <input type="password" name="psw" [(ngModel)]="password">
<!--        <p>Confirm Password</p>-->
<!--        <input type="password" name="psw">-->
        <p><input type="checkbox" checked>I allow Lichi to use my personal data in accordance with <br>confidential by agreement.</p>
        <p><button type="login" (click)="register()">SIGN UP</button></p>
    </div>
</div>
