    <nav id= "nav">
        <ul class="container">
          <li><a [routerLink]="['']">Главная</a></li>
          <li class="dropdown"><a>Одежда
            <div class="dropdown-content" ><div *ngFor = "let category of categories"><a [routerLink]="['/categories/', category.id]">{{category.name}}</a></div></div>

          </a></li>
          <li><a [routerLink]="['clothes']">Все</a></li>
          <li><a [routerLink]="['cart']">Корзина</a></li>
          <li><a [routerLink]="['login']">Войти</a></li>
          <li><a [routerLink]="['registration']">Зарегистрироваться</a></li>
        </ul>
</nav>
