.clothesClass {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.clothesImage {
    width: 300px;
    height: 300px;
}
.clothesDivider {
    background-color: darkgray;
    width: 100%;
    height: 2px;
    border: none;
}
#cart{
  transform: translate(1%, 14%);
}
